* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}
html {
  --var-back1: #7d4ffe;
  --var-back2: #a98aff;
  --var-blanc: #fff;
}
body {
  position: relative;
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--var-blanc) 10%,
    var(--var-back1) 100%
  );
}
a {
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.droite {
  font-size: 20px;
}
.gauche {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.gauche a {
  box-shadow: 1px 2px 3px gray;
  padding: 5px;
  min-width: 150px;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  background-color: var(--var-back1);
  color: var(--var-blanc);
  transition: all 0.5s ease;
}
a:hover {
  transform: scale(1.04);
  background-color: var(--var-blanc);
  color: var(--var-back1);
}
.titre {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
  letter-spacing: 5px;
}
.rechecher {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  gap: 20px;
  flex-direction: column;
}
.rechecher .form {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.rechecher .form input {
  width: 600px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  height: auto;
  border: 1px solid gray;
}
.rechecher .form input:focus {
  outline: none;
  border: 2px solid #7d4ffe;
}
.rechecher .form button {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--var-back1);
  color: var(--var-blanc);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.rechecher .form button:hover {
  background-color: var(--var-back2);
}
#reponse {
  display: none;
  box-shadow: 1px 2px 3px gray;
  background-color: var(--var-back1);
  color: var(--var-blanc);
  width: 720px;
  min-height: 100px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  animation: anime1 0.3s ease;
}
@keyframes anime1 {
  0% {
    transform: scale(0);
  }
   10% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.20);
  }
   30% {
    transform: scale(0.3);
  }
   40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5);
  }
   60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
   80% {
    transform: scale(0.8);
  }
   90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
footer {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: #a98aff;
}
